.contact {
  margin-top: 100px;

  &__content {
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 20px 0;

    > svg {
      border-radius: 50px;
      color: $darkBlue;
      border: 2px solid $skyBlue;
      padding: 10px;
      font-size: 45px;
      margin-right: 20px;
      transform: scaleX(-1);
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
  }
  &__subtitle {
    margin: 0;
  }
}

@media(min-width: 800px) {
  .contact {
    max-width: 1500px;

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}