.facility {
  margin-top: 100px;

  &__info {

  }

  &__image {
    width: 100%;
    box-shadow: $shadow;
  }
  @media (min-width: 800px) {
    &__info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 0 40px;
    }
  }
}