.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  
  &__logo {
    margin: 0 auto;
    height: 200px;
  }

  &__link {
    margin: 5px auto;
    font-size: 18px;
    width: fit-content;

    &:hover {
      color: $darkBlue;
      text-decoration: underline;
    }

    > svg {
      color: $darkBlue;
      font-size: 40px;
      margin: 10px 5px;
    }
  }
}