.quote {
  position: relative;
  text-align: center;
  color: $darkGrey;
  padding: 50px;
  font-style: italic;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin:30px -50vw;
  background-color:$bgSkyBlue;
 
}