$skyBlue: #89abe3;
$bgSkyBlue: #f0f3ff;
$darkBlue: #50688f;
$white: #fcf6f5;
$grey:#5a5c64;
// $grey:#9698a6;
$darkGrey: #303030;
$white: #fff;
$shadow: 0px 3px 15px rgba(0,0,0,0.2);
// Sky Blue (#89ABE3FF) and White (#FCF6F5FF)

// rgb(137, 171, 227)